
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="d-flex" style="width: 100%; padding: 20px;">
    <div style="background-image: var(--gradient-tech); border-radius: 10px; width: 400px; height: 50px;">
        <h2 style="text-align: center; color: white; line-height: 50px;">NEW PRODUCTS</h2>
    </div>
    <hr style="width: calc(100% - 440px); margin-top:25px;" />
</div>
<div class="d-flex" style="width: 100%; padding: 20px;">
    <div style="background-image: var(--gradient-tech); border-radius: 10px; width: 400px; height: 50px;">
        <h2 style="text-align: center; color: white; line-height: 50px;">NEW PRODUCTS</h2>
    </div>
    <hr style="width: calc(100% - 440px); margin-top:25px;" />
</div>
<div class="d-flex" style="width: 100%; padding: 20px;">
    <div style="background-image: var(--gradient-tech); border-radius: 10px; width: 400px; height: 50px;">
        <h2 style="text-align: center; color: white; line-height: 50px;">NEW PRODUCTS</h2>
    </div>
    <hr style="width: calc(100% - 440px); margin-top:25px;" />
</div>

