@model LTW_Ban_Sach.Identity.AppUser
@{
    ViewBag.Title = "ProFile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<hr />
<h2>My Profile</h2>
<hr />
<br />
<div class="container">
    <div style="width: 200px; height:200px; border-radius: 100px; background: url('/Content/Image/sale_1.jpg')"></div>
    <div class="m-5">
        <p><strong>Username:</strong> @Model.UserName</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Phone Number:</strong>@Model.PhoneNumber</p>
        <p><strong>Address:</strong> @Model.Address</p>
    </div>
    <a class="link-dark" href="/Account/Logout">Log Out</a>
</div>
